# C/C++ with GCC
# Build your C/C++ project with GCC using make.
# Add steps that publish test results, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/c-cpp/gcc

trigger:
- master

strategy:
  matrix:
    linux:
      imageName: 'ubuntu-16.04'
      python-arch: "x64"
      python-version: "3.6.x"
      install-headerfiles : true
    mac:
      imageName: 'macos-10.13'
      python-arch: "x64"
      python-version: "3.6.x"
      install-headerfiles : false
    windows:
      imageName: 'vs2017-win2016'
      vs-version: 15
      python-arch: "x86"
      python-version: "2.7.x" 
      install-headerfiles : false

pool:
  vmImage: $(imageName)

variables:
    CONAN_REFERENCE: "ZenGitHub/1.0"
    CONAN_USERNAME: "jonico"
    CONAN_LOGIN_USERNAME: "jonico"
    CONAN_CHANNEL: "stable"
    CONAN_UPLOAD: "https://api.bintray.com/conan/conan-jonico/libzengithub"
    CONAN_STABLE_BRANCH_PATTERN: "release/*"
    CONAN_VISUAL_VERSIONS: $(vs-version)
    CONAN_APPLE_CLANG_VERSIONS: "9.1"
    CONAN_GCC_VERSIONS: "5"
    INSTALL_HEADERFILES: $(install-headerfiles)

steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: $(python-version)
      addToPath: true 
      architecture: $(python-arch)
  - script: sudo apt-get install -y gcc-multilib
    displayName: Installing C/C++ header files
    condition: eq(variables.INSTALL_HEADERFILES, true)
  - script: pip install conan
    displayName: Installing Conan
  - script: pip install conan_package_tools
    displayName: Installing Conan package tools
  - script: conan user
    displayName: Generating conan data directory
  - script: python build.py
    displayName: Building the solution
