name: Test libzengithub package on main platforms
on: [push]
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-10.14, windows-2016, windows-2019, ubuntu-16.04, ubuntu-18.04, ARM, ARM64]
        include:
          - os: ubuntu-16.04
            python-arch: "x64"
            python-version: "3.6.x" 
            install-headerfiles: true
            prepare-python: true
            gcc-version: "5"
          - os: ubuntu-18.04
            python-arch: "x64"
            python-version: "3.6.x" 
            install-headerfiles: true
            prepare-python: true
            gcc-version: "7"
          - os: macOS-10.14
            python-arch: "x64"
            python-version: "3.6.x" 
            install-headerfiles: false
            prepare-python: true
          - os: windows-2016
            vs-version: 15
            python-arch: "x86"
            python-version: "2.7.x" 
            install-headerfiles: false
            prepare-python: true
          - os: windows-2019
            vs-version: 16
            python-arch: "x86"
            python-version: "3.6.x" 
            install-headerfiles: false
            prepare-python: true
          - os: ARM
            python-arch: "armv7"
            python-version: "3.6.x" 
            install-headerfiles: false
            prepare-python: false
            gcc-version: "9"
          - os: ARM64
            python-arch: "armv8"
            python-version: "3.6.x" 
            install-headerfiles: false
            prepare-python: false
            gcc-version: "9"

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        version: ${{ matrix.python-version }}
        architecture: ${{ matrix.python-arch }}
      if: matrix.prepare-python
    - name: Install C and C++ header files
      run: |
        sudo apt-get update && sudo apt-get install -y gcc-multilib
      if: matrix.install-headerfiles
    - name: Install conan && conan package tools
      run: |
        python -m pip install --upgrade pip
        pip install conan
        pip install conan_package_tools
    - name: ARM hotfix
      run: |
        conan remove -f "ZenGitHub*" --packages --builds
        echo "::set-env name=CONAN_ARCHS::${{ matrix.python-arch }}"
      if: startsWith(matrix.python-arch, 'arm')
    - name: Generating conan user directory and building the solution
      run: |
        conan user
        python build.py
      env:
        CONAN_REFERENCE: "ZenGitHub/1.0"
        CONAN_USERNAME: "jonico"
        CONAN_PASSWORD: ${{ secrets.CONAN_PASSWORD }} 
        CONAN_LOGIN_USERNAME: "jonico"
        CONAN_CHANNEL: "stable"
        CONAN_UPLOAD: "https://api.bintray.com/conan/conan-jonico/libzengithub"
        CONAN_STABLE_BRANCH_PATTERN: "release/*"
        CONAN_VISUAL_VERSIONS: ${{ matrix.vs-version }}
        CONAN_APPLE_CLANG_VERSIONS: "11.0"
        CONAN_GCC_VERSIONS: ${{ matrix.gcc-version }}
